<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>道可道，非恒道</string>
	</dict>
	<dict>
		<key>code</key>
		<string>名可名，非恒名</string>
	</dict>
	<dict>
		<key>code</key>
		<string>君子，有所为，有所不为</string>
	</dict>
	<dict>
		<key>code</key>
		<string>大丈夫，有所惧，有所不惧</string>
	</dict>
	<dict>
		<key>code</key>
		<string>我依旧笑着，就像花依旧开着。可春天未必还在，成熟，来的太快。--hai</string>
	</dict>
</array>
</plist>
